@font-face
    font-family 'FontAwesome'
    src url('../fonts/fontawesome-webfont.eot?v=3.0.1')
    src url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
         url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype')
    font-weight normal
    font-style normal

*
    box-sizing border-box

html
    height 100%

body
    background #f4eeea
    font-family 'Open Sans', Arial, serif
    margin 0
    padding 0
    height 100%
    background url('/images/logo.svg') no-repeat center center
    background-size 200px

div
    margin 0px
    padding 0px

#container
    position relative
    height auto
    min-height 100%
    padding-bottom 120px

#container header
    background #edc51d
    color #c7a410
    margin 0
    height 80px
    box-shadow 0 5px 0 #c7a410

#container footer
    background #95c11e
    color white
    margin 0
    width 100%
    position absolute
    bottom 0
    height 80px
    box-shadow 0 -5px 0 #739517

hr
    opacity 0.3

a
    font-family Arial, sans
    color white
    text-decoration none

a:hover
    color #e5452b

a:active
    color #95c11e

.title
    float left
    white-space nowrap

.formToggler
    position absolute
    right 0px
    top 0px
    color #edc51d
    text-align center
    cursor pointer
    font-size 3em
    font-family 'FontAwesome'
    line-height 86px
    height 80px
    width 80px
    background #95c11e
    box-shadow 0 5px 0 #739517
    -webkit-transition all 0.1s
    transition all 0.1s

.formToggler:hover
    color #f1d14c

.formToggler:active
    background #739517

.main
    width 100%
    max-width 800px
    margin 0px auto
    padding-left 10px

header .main
    overflow hidden
    padding-bottom 4px

header .main, footer .main
    position relative

#container > .main
    margin-top 20px
    padding-left 0px
    text-align center
    position relative

.paste
    display block
    text-align left
    float none
    width 100%
    padding 20px
    margin 0px auto 0 auto
    border-radius 1px
    border-top 1px solid black
    border-bottom 1px solid white
    background #333333
    color #eeeeee
    text-shadow 0px 1px 0px black
    white-space pre
    word-wrap normal
    overflow auto

.meta
    display block
    margin-top 20px
    margin-bottom 10px
    text-align left
    padding 0px 0px 0px 0px
    line-height 32px
    font-weight lighter
    //background-color #95c11e
    background -webkit-linear-gradient(180deg, #b1df33, #95c11e 15%)
    color white
    font-size 0.8em
    border-bottom: 5px solid #739517

.meta li
    display inline-block
    margin-left 20px

.meta li.date
    margin-left 10px

.fruits
    float right

.fruit
    width 21px
    height 21px
    margin-right 6px
    margin-left 6px
    vertical-align middle
    display inline-block
    background-image url('../images/fruit.png')

.fruit.fruit1
    background-position 0px 0px

.fruit.fruit2
    background-position 20px 0px

.fruit.fruit3
    background-position 40px 0px

.fruit.fruit4
    background-position 0px 20px

.fruit.fruit5
    background-position 20px 20px

.fruit.fruit6
    background-position 40px 20px

.fruit.fruit7
    background-position 0px 40px

.fruit.fruit8
    background-position 20px 40px

.fruit.fruit0
    background-position 40px 40px

.leForm
    display none
    position absolute
    width 100%
    max-width 800px
    z-index 999
    //top 85px
    border-bottom 5px solid #e5452b
    padding 20px
    background #f4eeea

.leForm.active
    display block

.leForm textarea
    width 100%
    min-height 150px
    border-radius 2px
    border 1px solid #e5452b

button,
.btn
    display block
    color white
    border-radius 1px
    padding 10px 15px
    border none
    background-color #333333
    text-shadow 0 1px 0 rgba(255, 255, 255, 0.3)
    box-shadow 0 1px 0 rgba(0, 0, 0, 0.3)
    -webkit-transition all 0.1s
    transition all 0.1s

button:hover,
.btn:hover
    color white
    background-color #555555

button:active,
.btn:active
    color white
    background-color #111111

.btn-little
    padding 3px 5px

.btn-red
    background-color #e5452b
    text-shadow 0 1px 0 #c53018
    box-shadow 0 4px 0 #c53018

.btn-red:hover
    background-color #eb6d58

.btn-red:active
    background-color #c53018

.btn-green
    background-color #95c11e
    text-shadow 0 1px 0 #739517
    box-shadow 0 4px 0 #739517

.btn-green:hover
    background-color #b1df33

.btn-green:active
    background-color #739517

.logo
    height 10em
    width 10em

a.copy
    font-family 'FontAwesome'
    color white
    font-size 14px
    float left
    height 32px
    line-height 32px
    width 32px
    text-align center
    margin-right 5px
    cursor pointer

footer
    font-size 11px
    line-height: 23px

footer dt, footer dd
    display inline

footer dd
    margin-left 0px
    padding-left 5px

footer a
    color #edc51d

footer a:hover
    text-decoration underline

a.fruitsrc
    position absolute
    right 10px
    top 0px
    width 60px
    height 60px
    background url('../images/fruit.png') no-repeat left top